body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #deafaf;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: wheat;
    width: 500px;
    border-radius: 8px;
    margin-top: 50px;
    padding: 50px;
    background-image: url("SignIN1.jpg"); /* Replace "background.jpg" with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.column2 h2 {
    margin-top: 0;
    text-align: center;
}

.form-control2 {
    margin-bottom: 20px;
}

.form-control2 label {
    display: block;
    
}

.form-control2 input {
    width:300;
    padding: 8px;
}

.form-control2 small {
    color: red;
}

.form-control_2 button{
    background: black;
    padding: 7px;
    color:wheat;
    border: 2px solid black;
    border-radius: 3ps;
    cursor: pointer;
}


.form-control_2 button:hover{
    background: wheat;
    color:slateblue
}
